.square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
}

.mole {
    background-image: url('images/mole.jpg');
}